body {
    font: arial;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #454545;
}

a {
    text-decoration: none; 
    text-transform: none;
    color: inherit; 
}

.header {
    background-color: #454545;
    color: rgb(255, 255, 255);
    height: 50px;
}

#caixa {
    background-color: #454545;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10px;
    width: 85%;
}

nav  li {
    /* background-color: #be0000; */
    margin: 10px;
    display: inline;
    padding: 15px 4px 15px 4px;
    font-family: arial;
    margin-top:5px;   
}

nav ul {
    margin: 0;
}

#nav1 {
    /* background-color: rgb(82, 27, 27); */
    margin-top: 0;
    padding-top:10px ;
    font-family: Livvic;
}

#nav1 a:hover {
    background-color: #E9E245;
    color: #000000;
    border-radius: 20px;
    padding: 8px 8px 8px 8px ;
}

#nav1 img {
    margin-right: 10px;
    /* background-color: blueviolet; */
}

#navleft {
    background-color: #454545;
}

#nav2 {
    /* background-color: rgb(184, 57, 57); */
    margin: 0 0 0 10px;
    padding-top:5px ;
    font-family: Arial;
}

#nav2 ul img {
    margin-right: 10px; 
    
}

#rsocial {
    overflow: hidden;

}

#rsocial:hover {
   border: 3px solid #E9E245;
    border-radius: 25px;
    -webkit-transform: scale(0.1);
    transform: scale(1.0);
   
}

/* APRESENTAÇÃO CADASTR0 */

.contato {
    background-image: url("../imagens/redecadastro.png") ;
    background-size: 80% ;
    padding: 15px 0px 10px 0px;
    margin: 0 auto;
    width: 36%;
    margin-top: 30px;
    height: 400px;

}

.container {
    /* background-color: aqua; */
    margin: 0 auto;
    width: 100%;
}

.container h1 {
    padding: 0px;
    font-family: arial;
    color: white;
    margin-left: 60px;

}

.formulario {
    text-align: lef;
    /* background-color: yellowgreen; */
    height: auto;
    margin: 0 40px 40px 40px;
    padding-left: 4%;
    width: 100%;
}

.inpt_style input {
    width: 70%;
    height: 30px;
    border-radius: 8px;
    border: 5px solid rgba(214, 214, 214, 0.39);
}

.inpt_style p {
    color: white;
    font-family: arial ;
    margin: 10px 0px 5px 0px;

}

#inpt_cadastrar input {
    margin-top: 20px;
    background-color: yellow;
    width: 30%;
    height: 40px;
    border: 2px solid yellow;
    border-radius:8px ;
}

#marca {
    /* background-color: blue; */
    width: 30%;
    display: flex;
    color: white;
    font-family: 'arial black';
    margin: 70px auto ;
    margin-left: 120px;
    /* text-align: right; */
    /* float: right; */
    
}

#marca img {
    margin-right: 10px;
    
}

#espaco {
    height: 75px;
}



 /* PAGINA DE USUARIO */

#caixatotal {
    margin: 0 auto;
    margin-top: 20px;
    width: 100% ;
    background-color:#e9e14500;
    height: 550px;
    display: flex;
}

/* LADO ESQUERDO MENU LATERIAL  */

#left-barra {
    background-color: rgba(93, 93, 148, 0);
    width: 20%;
    height: 100%;
    margin-right: 35px;
    display: flex;

}


#grade-left{
    background-image: url(/imagens/gradelarger.svg);
    height: 100%;
    width: 20%;
}

#menu-left {
    /* background-color:aliceblue; */
    height: 100%;
    width: 80%;
}

/* LADO DIREITO CONTEUDO CRONOGRAMA */

#rigth-red{
    /* background-color: red; */
    height: 90%;
    width: 80%;
}


/* PARTE DE CIMA DO CONTEUDO DE CRONOGRAMAS */
/* BUSCA E NOTIFICAÇÃO DE USUARIO */

#top {
    /* background-color: #000000; */
    display: flex;
    justify-content: space-between;
}

#busca-usuario {
    /* background-color: yellow; */
    width: 50%;
    padding: 7px 0 5px 0px;
    margin-left: 30px;
}

#busca-usuario input {
    height: 30px;
    width: 80%;
    border-radius: 25px;
    border: 0px;
}

#busca-usuario button {
    height: 32px;
    border-radius: 25px;
    border: 0px;
    width: 55px;
    margin-left: 10px;
    background-color: #FFF386
}

#busca-usuario button:hover {
    background-color: rgb(255, 255, 255);
    /* color: black; */
}

#usuario-logado {
    /* background-color: yellowgreen; */
    display: flex;
    padding: 5px;
    margin-right: 10px;
    
}

#nome-usuario {
    /* background-color: aqua; */
    font-family: arial;
    font-size: 12px;
    padding-top: 13px; 
    color: white;
}

#nome-usuario p {
  
}

#foto-usuario {
    background-color: whitesmoke;
    width: 40px;
    border-radius: 25px;
    margin: 0px 10px 0px 5px;
    height: 40px;
}

#foto-usuario img{
    width: 30px;
}

#icone-notificação{
    background-image:brown ;
    width: 35px;   
     padding: 5px;
}

#icone-notificação img{
    width: 30px;

}

 
 /* FIM PARTE DE CIMA DO CONTEUDO DE CRONOGRAMAS */
 /* FIM BUSCA E NOTIFICAÇÃO DE USUARIO */

#meio {
    background-color: rgba(255, 255, 255, 0);
    height: 70%;
    margin-right: 20px;
}

#caixa-meio {
    /* background-color:blue ; */
    padding: 5px;
    
}

#tit-meio{
    /* background-color: blueviolet; */
    
}

#tit-meio h3{
    margin: 0 ;
    font-family: Arial;
    color: #FFF386;
    margin: 30px 0 10px 0px;
    font-size: 16px;
    text-align: center;
}

#cx-cronograma {
    background-image: url(/imagens/gradelarger.svg) ;
    height: 300px;
    display: flex;
    margin: 2px;
}

#cx-dias {
    /* background-color: blue; */
    margin: 0 auto;
    height: 100%;
    width: 97%;
    display: flex;
}

#seg {
    /* background-color:aqua; */
    width: 18%;
    margin: 10px;
}

#ter {
    /* background-color:aqua; */
    width: 18%;
    margin: 10px;
}

#qua {
    /* background-color:aqua; */
    width: 18%;
    margin: 10px;
}

#qui {
    /* background-color:aqua; */
    width: 18%;
    margin: 10px;
}

#sex {
    /* background-color:aqua; */
    width: 18%;
    margin: 10px;
}

#cx-dias h4 {
    margin: 2px;
    text-align: center;
    color:#ffffff ;
    font-family: arial;
    font-weight: 200;
    font-size: 13px;
    text-transform: uppercase;
}

#cx-conteudo {
    background-color:rgba(255, 252, 215, 0.815) ;
    width: 100%;
    height: 90%;
    border-radius: 8px;
}

#bloco-um {
    /* background-color: yellowgreen; */
    height: 50px;
}

#bloco-um  h3 {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: arial;
    margin: 50px 0 0 0;
}



#dois {
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    margin: 10px;
}









/* PARTE DE BAIXO DO CONTEUDO DO CRONOGRAMA */
/* DASH PROXIMOS E ATRASADOS */


#baixo {
    height: 50%;
    display: flex;  
    margin: 30px 20px 10px 20px;
    /* background-color: yellow; */
}

#dash {
    /* background-color: rgb(67, 93, 116); */
    height: 100%;
    width: 40%;
    margin: 10px;
    color: rgb(231, 200, 25);
}

#dash h3 {
    font-family: arial;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: #FFF386
}

#cx-dash {
    background-color:rgba(255, 255, 255, 0.158) ;
    border-radius: 5px;
    height: 85%;
    width: 95%;
}

#prox {
    /* background-color: rgb(67, 93, 116); */
    height: 100%;
    width: 30%;
    margin: 10px;  
}

#prox h3 {
    font-family: arial;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: #FFF386
;}

#cx-prox {
    background-color:rgba(255, 255, 255, 0.158) ;
    border-radius: 5px;
    height: 85%;
    width: 95%;
}


#atra {
    /* background-color: rgb(67, 93, 116); */
    height: 100%;
    width: 30%;
    margin: 10px;
    color: rgb(231, 200, 25);
}

#atra h3 {
    font-family: arial;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: #FFF386
}

#cx-atra {
    background-color:rgba(255, 255, 255, 0.158) ;
    border-radius: 5px;
    height: 85%;
    width: 95%;
}

